<div class="container">

    <%= form_for(@device) do |f| %>
        <% if @device.errors.any? %>
            <article class="message is-danger">
                <div class="message-header">
                    <%= pluralize(@device.errors.count, 'error') %> prohibited this device from being saved:
                </div>
                <div class="message-body">
                    <ul>
                        <% @device.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            </article>
        <% end %>

        <div class="columns">
            <div class="column notification">
                <div class="field">
                    <%= f.label :devname, class: 'label' %>
                    <div class="control has-icons-left">
                        <%= f.text_field :devname, class: 'input' %>
                        <span class="icon is-small is-left"><%= icon('server') %></span>
                    </div>
                </div>
                <div class="field">
                    <%= f.label :address, class: 'label' %>
                </div>
                <div class="field has-addons">
                    <div class="control has-icons-left is-expanded">
                        <%= f.text_field :address, class: 'input' %>
                        <span class="icon is-small is-left"><%= icon('globe') %></span>
                    </div>
                    <div class="control">
                        <a class="button is-warning" id="getinfo">
                            <span class="icon is-small"><%= icon('arrow-circle-down') %></span>
                        </a>
                    </div>
                </div>
                <div class="field">
                    <%= f.label :snmp_community, class: 'label' %>
                    <div class="control has-icons-left">
                        <%= f.text_field :snmp_community, class: 'input' %>
                        <span class="icon is-small is-left"><%= icon('key') %></span>
                    </div>
                </div>
                <div class="field">
                    <%= f.label :query_interval, class: 'label' %>
                    <div class="control has-icons-left">
                        <%= f.number_field :query_interval, class: 'input' %>
                        <span class="icon is-small is-left"><%= icon('clock-o') %></span>
                    </div>
                </div>
                <div class="field">
                    <%= f.label :city, class: 'label' %>
                    <div class="control has-icons-left">
                        <%= f.text_field :city, class: 'input' %>
                        <span class="icon is-small is-left"><%= icon('map-marker') %></span>
                    </div>
                </div>
                <div class="field">
                    <%= f.label :group, class: 'label' %>
                    <div class="control has-icons-left">
                        <%= f.text_field :group, class: 'input' %>
                        <span class="icon is-small is-left"><%= icon('object-group') %></span>
                    </div>
                </div>
                <div class="field">
                    <%= f.label :contact, class: 'label' %>
                    <div class="control has-icons-left">
                        <%= f.text_field :contact, class: 'input' %>
                        <span class="icon is-small is-left"><%= icon('address-card') %></span>
                    </div>
                </div>
            </div>
            <div class="column notification">
                <%= f.label 'Used data sources', class: 'label' %>
                <% @datatypes.each do |datatype| %>
                    <div class="control">
                        <label class="checkbox">
                            <%= check_box_tag 'datatype_ids[]', datatype.id, @device.datatypes.include?(@datatypes[datatype.id-1]) -%>
                            <%= h datatype.name -%>
                        </label>
                    </div>
                <% end %>
                <div class="field is-grouped">
                    <div class="control">
                        <%= link_to 'Back', devices_path, class: 'button' %>
                    </div>
                    <div class="control">
                        <%= f.submit class: 'button is-danger' %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
