<p id="notice"><%= notice %></p>

<header class="header">
  <div class="container">
    <!-- Left side -->
    <div class="header-left">
      <a class="header-item" href="#">
        KOFTA
      </a>
      <%= link_to 'Devices', devices_path, class: "header-tab is-active" %>
      <%= link_to 'Data Sources', datatypes_path, class: "header-tab" %>
    </div>
  </div>
</header>

<table class="table is-striped">
  <thead>
    <tr>
      <th>City</th>
      <th>Group</th>
      <th>Device Name</th>
      <th>Address</th>
      <th>Contact</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.city %></td>
        <td><%= device.group %></td>
        <td><%= device.devname %></td>
        <td><%= device.address %></td>
        <td><%= device.contact %></td>
        <td><%= link_to 'Show', device, class: "button show-item", item: device.id %></td>
        <td><%= link_to 'Edit', edit_device_path(device), class: "button is-warning" %></td>
        <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device', new_device_path, class: "button is-primary" %>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-container">
    <div class="modal-content">
    </div>
  </div>
  <button class="modal-close"></button>
</div>
