<div class="card is-fullwidth">
  <header class="card-header">
    <p class="card-header-title">
      <%= @datatype.name %>
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <table>
        <tr><td><strong>OID:</strong></td><td><%= @datatype.oid %></td></tr>
        <tr><td><strong>Is default?</strong></td><td><%= @datatype.default %></td></tr>
        <tr><td><strong>SNMP Metric Type:</strong></td><td><%= @datatype.metric_type %></td></tr>
        <tr><td><strong>Is table?</strong></td><td><%= @datatype.table %></td></tr>
        <% if @datatype.table %>
            <tr><td><strong>Indexer OID:</strong></td><td><%= @datatype.index_oid %></td></tr>
            <tr><td><strong>Exclude regex:</strong></td><td><%= @datatype.excludes %></td></tr>
        <% end %>
        <tr><td><strong>Derive?</strong></td><td><%= @datatype.derive %></td></tr>
      </table>
    </div>
  </div>
  <footer class="card-footer">
    <%= link_to 'Back', datatypes_path, class: 'card-footer-item', id: 'modal_back' %>
    <%= link_to 'Edit', edit_datatype_path(@datatype), class: 'card-footer-item' %>
    <%= link_to 'Delete', @datatype, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-footer-item is-danger' %>
  </footer>
</div>
