    <%= form_for(@datatype) do |f| %>
        <% if @datatype.errors.any? %>
            <article class="message is-danger">
                <div class="message-header">
                    <%= pluralize(@datatype.errors.count, 'error') %> prohibited this device from being saved:
                </div>
                <div class="message-body">
                    <ul>
                        <% @datatype.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            </article>
        <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :default %><br>
    <%= f.check_box :default %>
  </div>
  <div class="field">
    <%= f.label :oid %><br>
    <%= f.text_field :oid %>
  </div>
  <div class="field">
    <%= f.label :metric_type %><br>
    <%= f.text_field :metric_type %>
  </div>
  <div class="field">
    <%= f.label :excludes %><br>
    <%= f.text_field :excludes %>
  </div>
  <div class="field">
    <%= f.label :table %><br>
    <%= f.check_box :table %>
  </div>
  <div class="field">
    <%= f.label :derive %><br>
    <%= f.check_box :derive %>
  </div>
  <div class="field">
    <%= f.label :index_oid %><br>
    <%= f.text_field :index_oid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
