<h1 class="title">Datasources</h1>

<% unless notice.nil? %>
    <div class="notification">
        <button class="delete" id="delete_notification"></button>
        <p id="notice"><%= notice %></p>
    </div>
<% end %>

<table class="table is-striped is-narrow is-small">
  <thead>
    <tr>
      <th>Name</th>
      <th>SNMP Metric Type</th>
      <th>Table</th>
      <th>Derive</th>
      <th>Default</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @datatypes.each do |datatype| %>
      <tr>
        <td><%= datatype.name %></td>
        <td><code><%= datatype.metric_type %></code></td>
        <td>
            <span class="icon is-small">
                <% if datatype.table %>
                    <%= icon('check', class: 'has-text-success') %>
                <% else %>
                    <%= icon('remove') %>
                <% end %>
            </span>
        </td>
        <td>
            <span class="icon is-small">
                <% if datatype.derive %>
                    <%= icon('check', class: 'has-text-success') %>
                <% else %>
                    <%= icon('remove') %>
                <% end %>
            </span>
        </td>
        <td>
            <span class="icon is-small">
                <% if datatype.default %>
                    <%= icon('check', class: 'has-text-success') %>
                <% else %>
                    <%= icon('remove') %>
                <% end %>
            </span>
        </td>
        <td>
            <div class="field has-addons">
                <p class="control">
                    <%= link_to 'Show', datatype, class: 'button is-small show-item', item: datatype.id %>
                </p>
                <p class="control">
                    <%= link_to 'Edit', edit_datatype_path(datatype), class: 'button is-small is-warning' %>
                </p>
                <p class="control">
                    <%= link_to 'Destroy', datatype, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-small is-danger' %>
                </p>
            </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Datatype', new_datatype_path, class: 'button is-primary' %>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-container">
    <div class="modal-content">
    </div>
  </div>
  <button class="modal-close"></button>
</div>
