<p id="notice"><%= notice %></p>

<h1>Listing Datatypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Oid</th>
      <th>Excludes</th>
      <th>Table</th>
      <th>Index oid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @datatypes.each do |datatype| %>
      <tr>
        <td><%= datatype.name %></td>
        <td><%= datatype.oid %></td>
        <td><%= datatype.excludes %></td>
        <td><%= datatype.table %></td>
        <td><%= datatype.index_oid %></td>
        <td><%= link_to 'Show', datatype %></td>
        <td><%= link_to 'Edit', edit_datatype_path(datatype) %></td>
        <td><%= link_to 'Destroy', datatype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Datatype', new_datatype_path %>
