<p id="notice"><%= notice %></p>

<table class="table is-striped is-narrow">
  <thead>
    <tr>
      <th>Name</th>
      <th>OID</th>
      <th>SNMP Metric Type</th>
      <th>Is table?</th>
      <th>Is derive?</th>
      <th>Is default?</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @datatypes.each do |datatype| %>
      <tr>
        <td><%= datatype.name %></td>
        <td><%= datatype.oid %></td>
        <td><%= datatype.metric_type %></td>
        <td><%= datatype.table %></td>
        <td><%= datatype.derive %></td>
        <td><%= datatype.default %></td>
        <td><%= link_to 'Show', datatype, class: 'button show-item', item: datatype.id %></td>
        <td><%= link_to 'Edit', edit_datatype_path(datatype), class: 'button is-warning' %></td>
        <td><%= link_to 'Destroy', datatype, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Datatype', new_datatype_path, class: 'button is-primary' %>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-container">
    <div class="modal-content">
    </div>
  </div>
  <button class="modal-close"></button>
</div>
