<p id="notice"><%= notice %></p>

<header class="header">
  <div class="container">
    <!-- Left side -->
    <div class="header-left">
      <a class="header-item" href="#">
        KOFTA
      </a>
      <%= link_to 'Devices', devices_path, class: "header-tab" %>
      <%= link_to 'Data Sources', datatypes_path, class: "header-tab is-active" %>
    </div>
  </div>
</header>

<table class="table is-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>OID</th>
      <th>SNMP Metric Type</th>
      <th>Is table?</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @datatypes.each do |datatype| %>
      <tr>
        <td><%= datatype.name %></td>
        <td><%= datatype.oid %></td>
        <td><%= datatype.metric_type %></td>
        <td><%= datatype.table %></td>
        <td><%= link_to 'Show', datatype, class: "button show-item", item: datatype.id %></td>
        <td><%= link_to 'Edit', edit_datatype_path(datatype), class: "button is-warning" %></td>
        <td><%= link_to 'Destroy', datatype, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Datatype', new_datatype_path, class: "button is-primary" %>

<%= render 'modal' %>
