<!DOCTYPE html>
<html>
<head>
  <title>Kofta: <%= params[:controller] %></title>
  <%= stylesheet_link_tag    'application', params[:controller], media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- KOFTA header goes here -->
  <%= render 'ui/header' %>

  <!-- Page content goes here -->
  <%= yield %>

  <!-- Information footer goes here -->
  <%= render 'ui/footer' %>
</body>
</html>
