<!DOCTYPE html>
<html>
<head>
  <title>Kofta<%= ': ' + params[:controller].capitalize unless params[:controller] == 'ui' %></title>
  <%= stylesheet_link_tag    'application', params[:controller], media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <!-- KOFTA header goes here -->
        <%= render 'ui/header' %>
    </header>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-one-quarter is-hidden-touch">
                    <%= render 'ui/side_menu' %>
                </div>
                <div class="column">
                    <!-- Page content goes here -->
                    <%= yield %>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <!-- Information footer goes here -->
        <hr class="is-marginless"/>
        <%= render 'ui/footer' %>
    </footer>
</body>
</html>
